# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
mom_alerts_iplanner_2015.12.18_01.36.33_alerts_raw.csv
mom.json
mom_alerts_iplanner_2015.12.18_01.36.33_alerts_pivot.txt
mom_alerts_iplanner_2015.12.18_01.36.33/mom_alerts_iplanner.xlsx
mom_alerts_iplanner_2015.12.18_01.36.33_alerts_pivotchart.txt
